<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<style>
    table,th,td
    {
        border: 1px solid black;
    }
</style>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Edit Data</th>
            <th>Delete Data</th>
        </tr>
        <tr>
            <% for(user of users){%>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.email%></td>
                    <td><%=user.username%></td>
                    <td>
                        <form method="GET" action="/user/<%=user.id  %>/edit">
                            <button>Edit Username</button>
                        </form>
                    </td>
                    <td>
                        <form method="GET" action="/user/<%=user.id  %>/delete">
                            <button>Delete user</button>
                        </form>
                    </td>
                </tr>
            <%} %>
        </tr>
    </table>
</body>
</html>
